@media print {
	body {
		margin: 1cm;
		margin-right: 0cm; /* Ajuste o valor conforme necessário para afastar do lado direito */
		transform: scale(1.0);
		transform-origin: top left;
	}

	@page {
		size: A4 landscape;
		margin: 1cm;
	}
	#tituloRelatorio{
		display: block; /* Torna visível apenas ao imprimir */
		font-size: 12px;
		padding-left: 500px;
	}
	body > div.scroll-to-top{
		display: none !important;
	}
	div:nth-child(12) > .portlet.light {
		display: none !important;
	}

	#logo {
		display: flex;
		position: absolute;
		top: 5px;	
		right: 50px;
	}
	
	.portlet-body.form .table-responsive {
		overflow-x: visible !important;
		margin-left: -50px !important;
	}
	.portlet.light>.portlet-title {
		border-bottom: none;
		margin-bottom: 0px;
	}
	.caption{
		padding-top: 0px;
		margin-left: -50px !important;
		padding-bottom: 0px;
	}
}
#saldo {
	width: 50% !important;
	margin-top: 9px !important;
	text-align: center;
}

table thead tr th:nth-child(3),
table thead tr th:nth-child(7),
table thead tr th:nth-child(11),
table td:nth-child(3),
table td:nth-child(7),
table td:nth-child(11) {
	border-right: 3px solid #d8e4ef !important;
}
.th-align {
	text-align: center; /* Define o alinhamento horizontal desejado, pode ser center, left ou right */
	vertical-align: middle !important; /* Define o alinhamento vertical desejado, pode ser top, middle ou bottom */
}