body {
    --var-blue: #4ea9ff;
    --var-darkblue: #0757a2;
    --var-red: #ec4141;
    --var-darkred: #a30000;
    --var-yellow: #f1c61f;
    --var-lightyellow: #ffff75;
    --var-darkyellow: #c1a300;
    --var-green: #53d02a;
    --var-darkgreen: #29a300;
}


.tituloBaixaGravidade {
    background-color: var(--var-darkgreen);
    color: white;
    cursor: pointer;
}

.baixaGravidade {
    background-color: var(--var-green);
    color: white;
    text-align: center;
}

.TituloMediaGravidade {
    background-color: var(--var-yellow);
    cursor: pointer;
}

.mediaGravidade {
    background-color: var(--var-lightyellow);
    text-align: center;
}

.tituloAltaGravidade {
    background-color: var(--var-darkred);
    color: white;
    cursor: pointer;
}

.altaGravidade {
    background-color: var(--var-red);
    color: white;
    text-align: center;
}

.tituloTotal, .matricula, .funcionario, .ocupacao {
    text-align: center !important;
    cursor: pointer !important;
}

.tituloTotal:hover, .matricula:hover, .funcionario:hover, .ocupacao:hover {
    text-align: center !important;
    cursor: pointer !important;
    background-color: #b5b8bb !important;
    color: #fff !important; /* Exemplo de mudança na cor do texto */
}


.tituloBaixaGravidade:hover {
    background-color: var(--var-green);
    color: white;
    cursor: pointer;
}

.TituloMediaGravidade:hover  {
    background-color: var(--var-lightyellow);
    cursor: pointer;
}

.tituloAltaGravidade:hover {
    background-color: var(--var-red);
    color: white;
    cursor: pointer;
}

h4 {
    padding: 10px;
    text-align: center;
    align-content: center;
    border-top: 1px solid #c2cad8;
    border-bottom: 1px solid #c2cad8;
}

.table-responsive div:first-child{
    display:flex;
}

#tabela1 {
    min-width:30%;
    text-align: center;
    /* display: none; */
    margin-right:20px;
}

#tabela2 {
    min-width: 30%;
    text-align: center;
}

#tabela1 th, #tabela2 th{
    text-align: center;
}

#tabela1 tbody tr td:first-child, #tabela2 tbody tr td:first-child{
    color: white;
    text-shadow: 2px 2px 3px black;
}

.endo, .endo-parc, .nao-endo{
    color:white;
    text-shadow:2px 2px 3px black;
}

.endo{
    background-color: var(--var-blue);
}
.endo-parc{
    background-color: var(--var-darkyellow);
}

.nao-endo{
    background-color: var(--var-red);
}

.titulos th:hover{
    background-color: var(--var-darkblue);
    color: white;
}

.porcentagemEndoPc td:first-child{
    background-color: var(--var-yellow);
    cursor: pointer;
}

.porcentagemEndoPc td:first-child:hover{
    background-color: var(--var-darkyellow);
    cursor: pointer;
}

.porcentagemEndo td:first-child, .porcentagemMeta td:first-child{
    background-color: var(--var-blue);
    cursor: pointer;
}

.porcentagemEndo td:first-child:hover, .porcentagemMeta td:first-child:hover{
    background-color: var(--var-darkblue);
    cursor: pointer;
}

.porcentagemPosi td:first-child{
    background-color: var(--var-green);
    cursor: pointer;
}

.porcentagemPosi td:first-child:hover{
    background-color: var(--var-darkgreen);
    cursor: pointer;
}

.porcentagemNaEndo td:first-child, .porcentagemNega td:first-child{
    background-color: var(--var-red);
    cursor: pointer;
}

.porcentagemNaEndo td:first-child:hover, .porcentagemNega td:first-child:hover{
    background-color: var(--var-darkred);
    cursor: pointer;
}

.nomeEmpresa:hover{
    background-color: #b5b8bb;
    cursor: pointer;
}


.emissao {
    margin-bottom: 20px;
    width: -webkit-fill-available;
    align-content: center;
    text-align: center;
}

.totais {
    background-color: var(--var-yellow);
    border-bottom: 10px solid white;
}

.totais th {
    text-align: center;
    align-content: center;
}

.titulos {
    background-color: var(--var-blue);
    cursor: pointer;
}

.titulos th {
    text-align: center;
    align-content: center;
}

.titulos th:hover{
    background-color: var(--var-darkblue);
    color: white;
}

#printTitulo {
    display: none;
}

th.sort-asc::after {
    content: " \2191";
}

th.sort-desc::after {
    content: " \2193";
}

#impressao{
    display: none;
}

.saldo-final {
    color: green;
}

.saldo-zero {
    color: blue;
}

.saldo-negativo {
    color: red;
}

@media print {
    body {
        margin: 1cm;
        margin-right: 0cm;
        transform: scale(0.99);
        transform-origin: top left;
    }

    @page {
        size: A4 landscape;
        margin: 1cm;
    }

    #grafico{
        display: none !important;
    }

    #printTitulo {
        /*font-size: 2px !important;*/
        /*padding-left: 200px;*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: -50px !important;
    }

    div:nth-child(6)>div.portlet.light,
    .scroll-to-top  {
        display: none !important;
    }

    #pdf2htmldiv>div {
        padding: 88px 20px 15px !important;
    }

    .titulo2{
        display: none;
    }

    /* .portlet.light>.portlet-title {
        border-bottom: none;
        margin-bottom: 0px;
    } */

    .caption {
        padding-top: 0px;
        margin-left: -50px !important;
        padding-bottom: 0px;
    }

    .emissao {
        padding-left: 100px !important;
    }

    .porcentagemEndo {
        box-shadow: 0 0 0 1000px #66b3ff inset !important;
    }

    .porcentagemEndoPc td:first-child{
        box-shadow: 0 0 0 1000px var(--var-yellow) inset !important;
    }

    .porcentagemEndo td:first-child, .porcentagemMeta td:first-child{
        box-shadow: 0 0 0 1000px var(--var-blue) inset !important;
        /* text-shadow: 0 0 0 1000px white inset; */
    }

    .porcentagemPosi td:first-child{
        box-shadow: 0 0 0 1000px var(--var-green) inset !important;
    }


    .porcentagemNaEndo td:first-child, .porcentagemNega td:first-child{
        box-shadow: 0 0 0 1000px var(--var-red) inset !important;
    }

    .endo{
        box-shadow: 0 0 0 1000px var(--var-blue) inset !important;
    }
    .endo-parc{
        box-shadow: 0 0 0 1000px var(--var-darkyellow) inset !important;
        text-shadow: 0 0 0 1000px white inset !important;
    }

    .nao-endo{
        box-shadow: 0 0 0 1000px var(--var-red) inset !important;
    }

    .tituloBaixaGravidade {
        box-shadow: 0 0 0 1000px var(--var-darkgreen) inset !important;
    }

    .baixaGravidade {
        box-shadow: 0 0 0 1000px var(--var-green) inset !important;
    }

    .TituloMediaGravidade {
        box-shadow: 0 0 0 1000px var(--var-yellow) inset !important;
    }

    .mediaGravidade {
        box-shadow: 0 0 0 1000px var(--var-lightyellow) inset !important;
        text-align: center;
    }

    .tituloAltaGravidade {
        box-shadow: 0 0 0 1000px var(--var-red) inset !important;
    }

    .altaGravidade {
        box-shadow: 0 0 0 1000px var(--var-red) inset !important;
        text-align: center;
    }

    thead tr.totais th {
        box-shadow: 0 0 0 1000px #ffe699 inset !important;
        /* Cor para impressão */
    }

    thead tr.titulos th {
        box-shadow: 0 0 0 1000px #99ccff inset !important;
        /* Cor para impressão */
    }

    .portlet.light {
        padding: 75px 20px 15px !important;
    }

    .table-responsive {
        overflow-x: visible !important;
        min-height: auto !important;
    }

    #impressao {
        display: block !important;
        position: relative;
        padding-left: 570px !important;
    }
}

.th-align {
    text-align: center;
    /* Define o alinhamento horizontal desejado, pode ser center, left ou right */
    vertical-align: middle !important;
    /* Define o alinhamento vertical desejado, pode ser top, middle ou bottom */

}